body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.1px;
  background: url("sky.jpg") center no-repeat;
}

.card {
  background-color: rgba(120, 135, 177, 0.95);
  border-radius: 5px;
  padding: 20px;
  width: 550px;
}

.tempsdes {
  display: flex;
  align-items: center;
}

.temp {
  font-size: 150px;
  letter-spacing: 0.5px;
}

.temp::after {
  content: "\00B0 C";
  font-size: 30px;
  position: relative;
  top: -5.5rem;
  left: -0.2rem;
  color: white;
}

.city {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: -20px;
}

.city .city-name {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

.temp,
.description,
.humidity,
.wind {
  font-weight: 800;
  text-transform: uppercase;
}

.icon {
  margin-right: 15px;
}

.details {
  margin-left: 15px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.details::before {
  content: "";
  width: 1px;
  height: 100px;
  background-color: white;
  position: absolute;
  margin-left: -25px;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(120, 135, 177, 0.95);
  height: 60px;
  border-radius: 5px;
}

input {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  font-size: 20px;
  width: 180px;
  margin-right: 10px;
}

input::placeholder {
  color: white;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.1px;
}

@media screen and (max-width: 900px) {
  body {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .tempsdes {
    flex-direction: column;
    align-items: baseline;
  }

  .card {
    width: 250px;
  }

  .city .city-name {
    font-size: 30px;
  }

  .details::before {
    display: none;
  }

  .icon {
    margin-top: -35px;
  }
}
